<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>

<body class="bg-dark">
    <div class="jumbotron jumbotron-fluid bg-danger">
        <div class="container">
            <h1 class="display-2">404</h1>
            <p class="lead">Does not exist</p>
        </div>
    </div>

</body>

</html>