<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body class="bg-dark">
    <%- include('./partials/nav.ejs')  %>

    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h1 class="display-4">About Us</h1>
            <p class="lead"><%= purpose %></p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem reprehenderit nostrum velit voluptate
                repellendus exercitationem eveniet soluta tempora earum voluptatem delectus, laboriosam ipsa
                necessitatibus incidunt mollitia reiciendis asperiores maiores expedita.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis omnis consequuntur at unde cumque
                excepturi officia ullam necessitatibus doloremque, iste voluptas atque reiciendis obcaecati fugit rem
                veritatis, ex adipisci eligendi!
            </p>
        </div>
    </div>

    <%- include('./partials/script.ejs')  %>
</body>

</html>